.banner{
    height: 951px;
    width: 1510px;
    background-image: url("../Assets/banner.svg");
    background-position: bottom left;
}
.banner__background{
    height: 951px;
    width: 1510px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}
.banner__info{
    padding: 208px 0 185px 170px;
    font-family: Raleway;
    color: #FFFFFF;
}
.banner__info img{
    height: 100px;
    width: 270px;
    margin-bottom: 72.88px;
}
.banner__info h2{
    height: 168px;
    width: 670px;
    font-weight: 500;
    font-size: 48px;
}
.banner__info__separator{
    width: 170px;
    height: 1px;
    background: #FFFFFF;
    margin-top: 55.12px;
}
.banner__info__description{
    margin-top: 42px;
    height: 42px;
    width: 270px;
    font-weight: 400;
    font-size: 18px;
}
.banner__info__button{
    margin-top: 42px;
    width: 270px;
    height: 58px;
    background: transparent;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}
.banner__inputform{
    margin-top: 208px;
    margin-left: 30px;
    width: 470px;
    height: 450px;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: "Open Sans";
}
.banner__inputform h2{
    height: 90px;
    width: 367px;
    margin-left: 53px;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    margin-bottom: 45px;
}
.banner__inputform span{
    color: #EC7979;
}
.banner__inputform__values input{
    display: flex;
    flex-direction: column;
    color: #BDBDBD;
    font-size: 14px;
    font-weight: 400;
    margin-left: 50px;
    font-family: "Open Sans";
    border-bottom: 1px solid #BDBDBD;
    width: 370px;
    height: 35px;
    margin-top: 33px;
}
.banner__inputform__button{
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 470px;
    height: 60px;
    margin-top: 81px;
    background: #EC7979;
    color: #FFFFFF;
}
input::placeholder{
    font-family: "Open Sans";
    color: #BDBDBD;
    font-size: 14px;
    font-weight: 400;
}
@media only screen and (max-device-width: 830px) {
    .banner{
        height: 693px;
        width: 1024px;
        background-size: cover;
    }
    .banner__background{
        height: 693px;
        width: 1024px;
    }
    .banner__info{
        padding: 137px 0 132px 115px;
    }
    .banner__info img{
        height: 75px;
        width: 183px;
        margin-bottom: 38px;
    }
    .banner__info h2{
        height: 126px;
        width: 454px;
        font-weight: 500;
        font-size: 36px;
    }
    .banner__info__separator{
        width: 115.28px;
        margin-top: 41.49px;
    }
    .banner__info__description{
        margin-top: 31px;
        height: 32px;
        width: 183.1px;
        font-size: 14px;
    }
    .banner__info__button{
        margin-top: 31.32px;
        width: 183.1px;
        height: 50px;
    }
    .banner__inputform{
        margin-top: 137.15px;
        margin-left: 36.36px;
        width: 398px;
    }
    .banner__inputform h2{
        width: 298px;
        margin-left: 50px;
        font-size: 18px;
    }
    .banner__inputform__values input{
        width: 298px;
    }
    .banner__inputform__button{
        width: 398px;
        margin-top: 81px;
    }

}
@media only screen and (max-device-width: 420px){
    .banner{
        height: 949px;
        width: 320px;
        background-image: url("../Assets/banner_mobile.svg");
        background-position: bottom left;
    }
    .banner__background{
        height: 949px;
        width: 320px;
        display: block;
    }
    .banner__info{
        width: 288px;
        height: 376px;
        padding: 84.12px 16px 56px;
    }
    .banner__info img{
        display: none;
    }
    .banner__info h2{
        height: 168px;
        width: 288px;
        font-size: 36px;
        text-align: center;
    }
    .banner__info__separator{
        width: 134px;
        margin: 43.88px auto 0;
    }
    .banner__info__description{
        height: 32px;
        width: 288px;
        font-size: 14px;
        text-align: center;
    }
    .banner__info__button{
        width: 288px;
        height: 50px;
    }
    .banner__inputform{
        margin-top: 0px;
        margin-left: 16.63px;
        width: 288px;
        height: 381px;
    }
    .banner__inputform h2{
        width: 240px;
        margin-left: 20px;
        font-size: 14px;
        margin-bottom: 0px;
    }
    .banner__inputform__values input{
        margin-left: 20px;
        width: 240px;
        margin-top: 36px;
    }
    .banner__inputform__values input:first-of-type{
        margin-top: 0px;
    }
    .banner__inputform__button{
        width: 288px;
        margin-top: 51px;
    }
}
